<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hgmovil.inacapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal">
        </activity>
        <activity
            android:name=".MenuNot">
        </activity>
        <activity
            android:name=".MenuAsist">
        </activity>
        <activity
            android:name=".MenuHora">
        </activity>
        <activity
            android:name=".MenuCorr">
        </activity>
        <activity
            android:name=".MenuBusque">
        </activity>
        <activity
            android:name=".MenuAlarm">
        </activity>
        <activity
            android:name=".MenuResumen">
        </activity>
        <activity
            android:name=".MenuPagos">
        </activity>
        <activity
            android:name=".Menu_Materiales">
        </activity>

    </application>

</manifest>